body{
    background-color: rgb(221, 221, 221);
}
h1 {
    text-align: center;
    color: #61a5e9;
    margin-top: 20px;
}
.search-area input {
    background-color:#646464;
    background-image: url('../images/search.png');
    background-size: 20px;
    background-position-x: 10px;
    background-position-y: center;
    background-repeat: no-repeat;
    width:300px;
    height:35px;
    border-radius:15px;
    border:0;
    outline:0;
    padding-left:30px;
    transition: all .3s;
}
.search-area select {
    background-color: rgb(218, 216, 216);
    background-size: 20px;
    background-position-x: 10px;
    background-position-y: center;
    background-repeat: no-repeat;
    width:150px;
    height:35px;
    border-radius:15px;
    border:0;
    outline:0;
    transition: all .3s;
    color:#61a5e9;
    font-size: 20px;

}
::placeholder {
    color:#8e9fb3;
    font-size: 20px;
    text-align: center;
}
.search-area input:focus {
    width:350px;
    background-color: rgb(218, 216, 216);
}

table{
    text-align: center;
    margin-top: 30px;
    
    
}
th{
    color:#67788b;
}
td{
    color:#A2B4C9;
    word-wrap: break-word;
    
}
.menu{
    margin-top: 50px;
    margin-left: 20px;
}
.pesquisa{
    margin-top: -40px;
    margin-left: 280px;
}

/* FORMATAÇÃO DA PAGINA DE CADASTRO */
.cadastro{
    background-color:#43494E;
    padding: 10px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
}    
label{
    margin-left: 30px;
    color: #91b3da;
    font-size: 20px;
}
.form-control{
    background-color:#dfdede;
    margin-left: 35px;
    color: #164780;
    width: 600px;
    
    
}

/* FORMATAÇÃO DA PAGINA DE BUSCA */

.noResult{
    color: rgb(187, 22, 22);
    font-size: 30px;
    
}
.data{
    background-color:#646464;
    background-image: url('../images/calendar.png');
    background-size: 20px;
    background-position-x: 10px;
    background-position-y: center;
    background-repeat: no-repeat;
    width:200px;
    height:35px;
    border-radius:15px;
    border:0;
    outline:0;
    padding-left:30px;
    transition: all .3s;
    text-align: center;
}
.filtro input:focus {
    width:250px;
    background-color: rgb(218, 216, 216);
}
.filtro label{
    color:rgb(50, 171, 241);
}
h3{
    text-align: center;
    color: rgb(50, 171, 241);
}    
.filtro p{
    text-align: center;
    margin-right: 100px;
    padding-top: 10px;
    color: rgb(50, 171, 241);
    font-size: 25px;
}